
.view-mobile-start,
.view-mobile-start * {
  box-sizing: border-box;
}
.view-mobile-start {
  background: #301c51;
  width: 100%;
  height: 1500px;
  position: relative;
  overflow-y: auto;
}
.bruschetta,
.bruschetta * {
  box-sizing: border-box;
}
.bruschetta {
  color: #ffffff;
  text-align: center;
  font: 400 20px "JejuGothic-Regular", sans-serif;
  position: absolute;
  top: 495px;
  left: 90px;
  width: 120px;
  height: 16px;
}
.popular-antipasto-o-plato-de-entrada-que-tradicionalmente-consiste-en-pan-asado-frotado-con-ajo-y-cubierto-con-aceite-de-oliva-y-sal,
.popular-antipasto-o-plato-de-entrada-que-tradicionalmente-consiste-en-pan-asado-frotado-con-ajo-y-cubierto-con-aceite-de-oliva-y-sal
  * {
  box-sizing: border-box;
}
.popular-antipasto-o-plato-de-entrada-que-tradicionalmente-consiste-en-pan-asado-frotado-con-ajo-y-cubierto-con-aceite-de-oliva-y-sal {
  color: #ffffff;
  text-align: left;
  font: 400 12px "K2D-Regular", sans-serif;
  position: absolute;
  left: 100px;
  top: 515px;
  width: 245px;
  height: 68px;
}

.rectangle-18 {
    width: 418px;
    height: 95px;
    position: absolute;
    left: 4px;
    top: 275px;
    overflow: visible;
  }
  .rectangle-181 {
    width: 418px;
    height: 95px;
    position: absolute;
    left: 4px;
    top: 490px;
    overflow: visible;
  }
  .vector2 {
    height: auto;
    position: absolute;
    right: 6.74%;
    left: 86.74%;
    width: 6.51%;
    bottom: 41%;
    top: 57.36%;
    height: 1.64%;
    overflow: visible;
  }
  .vector3 {
    height: auto;
    position: absolute;
    right: 6.74%;
    left: 86.74%;
    width: 6.51%;
    bottom: 55.71%;
    top: 42.64%;
    height: 1.64%;
    overflow: visible;
  }
  .vector4 {
    height: auto;
    position: absolute;
    right: 90.23%;
    left: 3.26%;
    width: 6.51%;
    bottom: 96.71%;
    top: 1.64%;
    height: 1.64%;
    overflow: visible;
  }
  .recetario {
    color: #ffffff;
    text-align: center;
    font: 400 32px "Limelight-Regular", sans-serif;
    position: absolute;
    left: 113px;
    top: 87px;
    width: 204px;
    height: 33px;
  }
  .frame-2 {
    background: #221438;
    width: 435px;
    height: 62px;
    position: absolute;
    left: -3px;
    top: -6px;
    overflow: hidden;
  }
  .group2 {
    height: auto;
    position: absolute;
    right: -0.36%;
    left: 8.7%;
    width: 91.67%;
    bottom: -13.1%;
    top: 21.43%;
    height: 91.67%;
    overflow: visible;
  }
  .rectangle-17 {
    border-radius: 18px;
    width: 86px;
    height: 86px;
    position: absolute;
    left: 7px;
    top: 277px;
  }
  .rectangle-171 {
    border-radius: 18px;
    width: 86px;
    height: 86px;
    position: absolute;
    left: 7px;
    top: 492px;
  }
  .amatriciana {
    color: #ffffff;
    text-align: center;
    font: 400 20px "JejuGothic-Regular", sans-serif;
    position: absolute;
    left: 99px;
    top: 280px;
    width: 120px;
    height: 16px;
  }
  .rectangle-19 {
    border-radius: 18px;
    width: 86px;
    height: 86px;
    position: absolute;
    left: 7px;
    top: 970px;
  }
  .rectangle-20 {
    width: 418px;
    height: 95px;
    position: absolute;
    left: 4px;
    top: 720px;
    overflow: visible;
    .c,
.c * {
  box-sizing: border-box;
}
.c {
    color: #ffffff;
    text-align: center;
    font: 400 32px "JejuGothic-Regular", sans-serif;
    position: absolute;
    top: 500px;
    width: 87px;
    height: 32px;
  }

  }
  .line-6 {
    width: 350px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 958px;
    overflow: visible;
  }
  .la-salsa,
.la-salsa* {
  box-sizing: border-box;
}
.la-salsa{
  color: #ffffff;
  text-align: left;
  font: 400 12px "K2D-Regular", sans-serif;
  position: absolute;
  left: 105px;
  top: 300px;
  width: 245px;
  height: 68px;
}

  .e {
    color: #ffffff;
    text-align: center;
    font: 400 32px "JejuGothic-Regular", sans-serif;
    position: absolute;
    left: 12px;
    top: 926px;
    width: 87px;
    height: 32px;
  }
  .vector9 {
    height: auto;
    position: absolute;
    right: 6.74%;
    left: 86.74%;
    width: 6.51%;
    bottom: 26.02%;
    top: 72.33%;
    height: 1.64%;
    overflow: visible;
  }
  .vector10 {
    height: auto;
    position: absolute;
    right: 6.74%;
    left: 86.74%;
    width: 6.51%;
    bottom: 9.63%;
    top: 88.72%;
    height: 1.64%;
    overflow: visible;
  }
  .vector11 {
    height: auto;
    position: sticky;
    right: 8.37%;
    left: 84.65%;
    width: 6.98%;
    bottom: 80.12%;
    top: 17.18%;
    height: 2.7%;
    overflow: visible;
  }
  .rectangle-4 {
    background: #d9d9d9;
    border-radius: 25px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 390px;
    height: 45px;
    position: sticky;
    left: 20px;
    top: 148px;
    backdrop-filter: blur(2px);
  }
  .frame-3 {
    background: #221438;
    width: 435px;
    height: 62px;
    position: sticky;
    left: 0px;
    top: 875px;
    overflow: hidden;
  }
  .b,
.b * {
  box-sizing: border-box;
}
.b {
  color: #ffffff;
  text-align: center;
  font: 400 32px "JejuGothic-Regular", sans-serif;
  position: absolute;
  top: 440px;
  width: 87px;
  height: 32px;
}
.line-7,
.line-7 * {
  box-sizing: border-box;
}
.line-7 {
  width: 350px;
  height: 30px;
  position: absolute;
  top: 460px;
  overflow: visible;
}
  .a,
.a * {
  box-sizing: border-box;
}
.a {
  color: #ffffff;
  text-align: center;
  font: 400 32px "JejuGothic-Regular", sans-serif;
  position: absolute;
  top: 220px;
  width: 87px;
  height: 32px;
}
.line-6,
.line-6 * {
  box-sizing: border-box;
}
.line-6 {
  width: 350px;
  height: 30px;
  position: absolute;
  top: 240px;
  overflow: visible;
}

  .vector14 {
    height: auto;
    position: absolute;
    right: 26.9%;
    left: 61.38%;
    width: 11.72%;
    bottom: 17.74%;
    top: 14.52%;
    height: 67.74%;
    overflow: visible;
  }
  